.MyForm
  
  label
    font-family sans-serif
  
  input
    clear right
    display block

  textarea
    clear right
    display block


.MyPre
  
  background-color #eee


ul 
  border: 1px solid black;

  &.com-total
    border: 1px solid blue;
